.movie {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  resize: none;
}
.btn-block {
  width: 15%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #e4e0e0;
}

#content {
  background-image: url("../static/image.jpg");
  background-color: #181818;
  font-family: "Noto Sans JP", sans-serif;
}
h1 {
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #e50914;
  font-weight: bold;
  margin-top: 30px;
  text-shadow: #000000 0px 0px 13px;
}
