<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies App</title>
    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style.css') }}"
    />
  </head>
  <body id="content" style="font-family: 'Noto Sans JP', sans-serif">
    <div class="input-container" style="display: block">
      <center>
        <h1>Movie Recommendation And Reviews Sentiment Analysis</h1>
      </center>
      <div
        class="form-group shadow-textarea"
        style="margin-top: 30px; text-align: center; color: aliceblue"
      >
      <label style="color: #e50914;font-size: xx-large;">Enter Movie Name:</label>
        <input
          type="text"
          name="movie"
          class="movie form-control"
          id="autoComplete"
          autocomplete="off"
          placeholder="Enter the Movie Name"
          style="
            width: 35%;
            color: black;
          "
          required="required"
        />
        <label style="color: #e50914;font-size: xx-large;">Enter "Yes" If Movie is Hollywood "No" for Bollywood(Without Quotes):</label>
        <input
          type="text"
          name="lang"
          class="movie form-control"
          id="autoComplete1"
          autocomplete="off"
          placeholder="Type Yes for English Movies or No for Hindi Movies"
          style="
            width: 25%;
            color: black;
          "
          required="required"
        />
        <!-- <br /> -->
      </div>
      <br>
      <div class="form-group" style="text-align: center">
        <button
          class="btn btn-primary btn-block movie-button"
          style="
            background-color: #e50914;
            text-align: center;
            border-color: #e50914;
            width: 120px;
          "
          disabled="true"
        >
          Enter</button
        ><br /><br />
      </div>
    </div>
    <div id="loader" class="text-center">

    </div>
    <div class="fail">
      <center>
        <h3>
          Sorry! The movie you requested is not in our database. Please check
          the spelling or Language Parameter is entered correctly or try with other movies!
        </h3>
      </center>
    </div>

    <div class="results">
      <center>
        <h2 id="name" class="text-uppercase"></h2>
      </center>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='recommend.js')}}"
    ></script>
    <div class="admin_login">
      <center>
        <h3 style="color: #e50914;">Are You Admin?Login Here</h3>
        <br>
        <div class="form-group" style="text-align: center">
        <button
          class="btn btn-primary btn-block movie-button"
          style="
            background-color: #e50914;
            text-align: center;
            border-color: #e50914;
            width: 120px;
            border-radius: 5px;
          "
          disabled="true"
        >
          <a href="/admin" style="text-decoration: none;color: aliceblue;">Admin Login</a></button
        ><br /><br />
      </div>
      </center>
    </div>
  </body>
</html>
