<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='effect.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
jQuery(function($) {
  var requiredCheckboxes = $(':checkbox[required]');
  requiredCheckboxes.on('change', function(e) {
    var checkboxGroup = requiredCheckboxes.filter('[name="' + $(this).attr('name') + '"]');
    var isChecked = checkboxGroup.is(':checked');
    checkboxGroup.prop('required', !isChecked);
  });
  requiredCheckboxes.trigger('change');
});
</script>
</head>
<style>
    body{
      background-image: url('../static/5550753.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      
    }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0,0.15);
}

li {
  float: left;
  /* border-right:1px solid #bbb; */
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: #e50114;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
<body>
  <ul>
      <li><a href="/welcome">Welcome Admin</a></li>
  <li style="float:right"><a href="/logout">Log Out</a></li>
  <li style="float:right"><a href="/update">Update Movies</a></li>
  <li style="float:right"><a href="/remove">Delete Movies</a></li>
  <li style="float:right"><a href="/add">Add Movies</a></li>
</ul>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <script>alert("{{ message }}");</script>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="container">

<center> <b id="login-name">Enter New Movies Here</b> </center>>

	<div class="row">

<div class="col-md-6 col-md-offset-3" id="login">

<form action="/add" method="POST">

<div class="form-group">
<label class="user" style="color:#e50114;"> Movie Name(Enter it correctly it is uneditable):  </label>


<input type="text" style="
            color: #e50114;" class="form-control" id="text1" name="moviename" placeholder="Moviename" required>
</div>


<div class="form-group">
<label class="user"> Actor1: </label>

<input type="text" class="form-control" style="color:#e50114;" id="text2" name="actor1" placeholder=" EnterActor1" required>

</div>
<div class="form-group">
<label class="user"> Actor2: </label>

<input type="text" class="form-control" style="color:#e50114;" id="text3" name="actor2" placeholder=" EnterActor2" required>

</div>

<div class="form-group">
<label class="user"> Actor3: </label>
<input type="text" class="form-control" id="text4" style="color:#e50114;" name="actor3" placeholder=" EnterActor3" required>
</div>

<div class="form-group">
<label class="user">Director Name(Enter it correctly it is uneditable): </label>
<input type="text" class="form-control" id="text5" style="color:#e50114;" name="directorname" placeholder=" EnterDirectorName" required>
</div>
<div class="form-group" >
<label class="user" required> Language(hi for hindi and en for english): </label>
<input type="text" class="form-control" id="text6" name="lang" style="color:#e50114;" placeholder=" Enter Movie Language" required>
</div>

<div class="form-group label_001" >
<label class="user" style="color: #e50114"> Genre: </label><br>
<label class="radio-inline"><input type="checkbox" name="optradio[]" value="Crime" required="required">Crime</label>
<label class="radio-inline"><input type="checkbox" name="optradio[]" value="Action" required="required">Action</label>
<label class="radio-inline"><input type="checkbox" name="optradio[]" value="Thriller" required="required">Thriller</label>
<label class="radio-inline"><input type="checkbox" name="optradio[]"value="Romance" required="required">Romance</label>
<label class="radio-inline"><input type="checkbox" name="optradio[]" value="Sci-Fi" required="required">Sci-Fi</label>
<label class="radio-inline"><input type="checkbox" name="optradio[]"value="Fantasy" required="required">Fantasy</label>
<label class="radio-inline"><input type="checkbox" name="optradio[]" value="Documentary" required="required">Documentary</label>
<label class="radio-inline"><input type="checkbox" name="optradio[]" value="Comedy" required="required">Comedy</label>
<label class="radio-inline"><input type="checkbox" name="optradio[]"value="Drama"  required="required">Drama</label>
<label class="radio-inline"><input type="checkbox" name="optradio[]" value="Family" required="required">Family</label>
<label class="radio-inline"><input type="checkbox" name="optradio[]" value="Sports" required="required">Sports</label>
<label class="radio-inline"><input type="checkbox" name="optradio[]" value="Adventure" required="required">Adventure</label>
<label class="radio-inline"><input type="checkbox" name="optradio[]" value="Horror" required="required">Horror</label>
<label class="radio-inline"><input type="checkbox" name="optradio[]" value="Mystery" required="required">Mystery</label>
</div>


<div class="form-group">

<input type="submit" class="btn btn-success" value="submit" style="border-radius:0px;">
<input type="reset" class="btn btn-danger" value="Reset" style="border-radius:0px;">

    </div>
    <br/><br/><br/>
</form>
{% if error %}
	<script>
		alert("{{error}}")
	</script>
{% endif %}
<!-- {% if movie_added %}
	<script>
		alert("Movie added successfully")
	</script>
{% endif %} -->

</div>

    </div>










</div>














	</body>
	</html>